.LogoutModal{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    /* border:3px solid rgb(47, 0, 255); */
    
}
.LogoutModal::before{
    content:"";
    left:0px;
    top:0px;
    height:100vh;
    width:100vw;
    background-color: rgb(42, 50, 67);
    opacity: 0.4;
    z-index: 8;
    position: absolute;
    
}

.Logout-Modal{
    position:absolute;
    width:250px;
    background-color: rgb(110, 203, 203);
    height:250px;
    z-index:20;
    top:37%;
    left:45%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-sizing: border-box;
    color: aliceblue;
}
.LogoutBtn{
    padding:5px;
    margin:10px;
    border-radius: 5px;
    background-color: red;
    color: aliceblue;
}
.cancelBtn{
    padding:5px;
    margin:10px;
    border-radius: 5px;
}