.MyChats{
    width:34%;
    border:2px solid black;
    display:flex;
    flex-direction: column;
    position: relative;
}
.MyChatsheading{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.MyChatstitle{
    font-size: 25px;
    margin-left: 10px;
}
.option{
    font-size: 13px;
    margin-right: 10px;
    background-color: rgba(22, 114, 114, 0.434);
    border-radius: 5px;
    font-weight: bold;
    padding:8px;
    margin:5px ;
    cursor: pointer;
}

.AllChats{
    display:flex;
    border:1px solid yellow;
    height:70vh;
    width:90%;
    margin:auto auto;
    display: flex;
    flex-direction: column;
    overflow:auto;
}

.chat-data{
    height:60px;
    width:97%;
    border:2px solid rgb(8, 116, 121);
    background-color: rgb(140, 220, 220);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin:5px auto;
}

.chatdiv{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    margin:auto;
}

.chat-data:hover{
    background-color:rgb(79, 202, 202) ;
}

