.search1{
    z-index:10;
    position: absolute;
    background-color: rgb(122, 198, 198);
    display:flex;
    height:90vh;
    width:20%;
    flex-direction: column;
    justify-content: space;
}
#ip{
    height:10px;
    border-radius: 5px;
    width:90%;
    margin:10px auto;
    height:20px;
}
.results{
    height:70vh;
    border:2px solid blue;
    overflow: auto;
    margin:auto;
    width:95%;
}